<!DOCTYPE html>
<html>
<head>
	<title>互粉</title>
</head>    
<body>
<link href="{{ static_url('layui/css/layui.css')}}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ static_url('layui/layui.js')}}" ></script>
<div>
	<form class="layui-form layui-form-pane" action="/hall" method="POST">
		<div class="layui-form-item">
			<label class="layui-form-label">快手ID：</label>
			<div class="layui-input-inline">
      			<input type="text" name="userid" required  lay-verify="required" placeholder="请输入快手ID" autocomplete="off" class="layui-input">
				</br>
				<button class="layui-btn" lay-submit lay-filter="formDemo">我要互粉</button>
      			<button type="reset" class="layui-btn layui-btn-primary">重置ID</button>
			</div>
  		</div>
	</form>
</div>



</body>
</html>